.all-cards-page {

    .card-container{
        display: grid;
        margin: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 20px;
        justify-content: center;
    }

    .card-quantity-container {
        position: relative;
    }

    .card-quantity-container.has-quantity {
        filter: grayscale(80%);
    }

    .card {
        position: relative;
        width: 300px;
        transition: transform 0.25s ease;
        cursor: pointer;       
    }

    img {
        width: 100%;
    }

    .cardSetSelector {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .toggle-button-cardSet {
        margin: 20px;
    }

    .quantity-display {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255);
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

    .card-wrapper {
        position: relative;
        user-select: none;
    }

    .edit-selection {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: grid;
        
        grid-template-columns: 50% 50%;

        .direction-overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px white, -1px 1px 2px white, 1px -1px 2px white, -1px -1px 2px white;

            &:hover {
                background-color: rgba(200, 200, 200, 0.3);

                .action-button{
                    transform: scale(0.93);
                }
            }
            
        }

        .direction-overlay.unchecked {
            background-color: rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        .action-button {
            padding: 5px 10px;
            background-color: white;
            border-radius: 4px;
        }
    }

    .quantity-display:empty{
        display: none;
    }

    .quantity-sell {
        color: rgba(0, 128, 0, 0.807);
    }

    .quantity-buy {
        color: rgba(34, 16, 228, 0.842);
    }

    .edit-container{
        position: absolute;
        top: 0;
        right: 0;
    }

}