.all-cards-page {

    .card-container{
        display: grid;
        margin: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 20px;
        justify-content: center;
    }

    .card-quantity-container {
        position: relative;
    }

    .card-quantity-container.has-quantity {
        filter: grayscale(80%);
    }

    .card {
        width: 300px;
        transition: transform 0.25s ease;
        cursor: pointer;

        &:hover{
            transform: scale(0.97);
        }
        
    }

    img {
        width: 100%;
    }

    .cardSetSelector {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .toggle-button-cardSet {
        margin: 20px;
    }

    .quantity-display {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255);
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

    .card-wrapper {
        position: relative;
    }

    .quantity-display:empty{
        display: none;
    }

    .quantity-sell {
        color: rgba(0, 128, 0, 0.807);
    }

    .quantity-buy {
        color: rgba(34, 16, 228, 0.842);
    }

}