.notifications {
  padding: 10px;
  margin: 10px 0;

  li {
    padding: 5px;
  }

  button {
    margin: 0 10px;
    padding: 2px 6px;
    font-size: 12px;
    border: none;
    cursor: auto;
    user-select: none;
    transition: none;
    transform: none;
  }

  button.rejected {
    background-color: #f13716;
  }
  button.accepted {
    background-color: #24bd0f;
  }
  button.pending {
    background-color: #f1db16;
  }

  .notification-date {
    font-size: 0.7em;
    color: rgb(0, 0, 0, 0.5);
  }

  .notification-card-name {
    font-weight: bold;
  }
}
