/* From Uiverse.io by Samalander0 */ 
.market-card {

  width: 320px;
  background: #ffaff4;
  color: black;
  position: relative;
  border-radius: 2.5em;
  padding: 1em;
  transition: transform 0.4s ease;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 100%;
  transition: transform 0.4s ease;

  
  .card-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

  .card-top, .card-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .card-top p, .card-top .card-title, .card-bottom p, .card-bottom .card-title {
    margin: 0;
  }
  
  .card-title {
    font-size: 1.5em; /* Augmente la taille */
    font-weight: bold;
    text-align: center;
  }
  
  .card-top p, .card-bottom p {
    font-weight: 600;
  }
  

  
  .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .card-image svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  &:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  &:hover .card-content {
    transform: scale(0.96);
  }
  
  &:hover .card-image svg {
    transform: scale(1.05);
  }
  
  &:active {
    transform: scale(0.9);
  }

}