.market {
    display: grid;
    width: 100%;
    gap: 10px;
  }
  
  .market-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card data";
    width: 100%;
  }
  
  .market-card {
    position: relative;
    grid-area: card;
    left: 50%;
    display: flex;
    height: 400px;
    align-items: center;
    user-select: none;
  }
  
  .market-card img {
    width: 70%;
    height: auto;
    align-self: center;
    user-select: none;
}

  .market-data {
    grid-area: data;
    position: relative;
    top: 50%;
  }